<mat-card>
    <mat-card-title>Registration</mat-card-title>
    <mat-card-content>
        <form [formGroup]="registrationForm">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput type="text" formControlName="userName" placeholder="Name">
                        <mat-error
                            *ngIf="registrationForm?.get('userName')?.touched && registrationForm?.get('userName')?.invalid">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div> 
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput type="text" formControlName="userGroup" placeholder="User/Dealer">
                        <mat-error
                            *ngIf="registrationForm?.get('userGroup')?.touched && registrationForm?.get('userGroup')?.invalid">
                            Type is required
                        </mat-error>
                    </mat-form-field>
                </div> 
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput type="text" formControlName="mobileNumber" placeholder="Mobile Number">
                        <mat-error
                            *ngIf="registrationForm?.get('mobileNumber')?.touched && registrationForm?.get('mobileNumber')?.invalid">
                            Invalid email format
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput type="email" formControlName="emailId" placeholder="Email">
                        <mat-error
                            *ngIf="registrationForm?.get('emailId')?.touched && registrationForm?.get('emailId')?.invalid">
                            Invalid email format
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" placeholder="Password">
                        <mat-error
                            *ngIf="registrationForm?.get('password')?.touched && registrationForm?.get('password')?.invalid">
                            Password is required and must be at least 6 characters long
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="registrationForm.invalid" (click)="save()">Register</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>